{% extends 'classup/base.html' %}

{% load staticfiles %}
{% load bootstrap %}

{{ form|bootstrap }}

{% block title %}
    Setup Module
{% endblock %}

{% block body_block %}
    <script type="text/javascript">
        $(function () {
            var school_id = {{ school_id }}
            var row_index;
            var period_no;

            $('td').click(function(){
                row_index = $(this).parent().index();
                col_index = $(this).index();
            });

            $("td:contains('Not Assigned')").css("color", "red");
            $(".assigned").css("color", "color:#328332")

            // show available teachers for a period
            $('.teacher_options').click(function (event) {
                var $widget = $(this);
                period_no = $widget.attr ('period')
                $("#" + period_no).modal('show')
            });

            // assigne an arrangement period to a teacher
            $(".btn-round-sm").click (function () {
                $("#" + period_no).modal('hide')
                var $widget = $(this);
                var teacher = $widget.attr('teacherName')
                var teacher_id = $widget.attr('teacherId')

                $('#main_table tr').eq(row_index + 1).find('td').eq(5).text(teacher).css("color", "color:#328332");
                var period = $('#main_table tr').eq(row_index + 1).find('td').eq(2).text();
                var the_class = $('#main_table tr').eq(row_index + 1).find('td').eq(3).text();
                var section = $('#main_table tr').eq(row_index + 1).find('td').eq(4).text();

                var myObject = new Object();
                myObject.period = period;
                myObject.the_class = the_class;
                myObject.section = section;
                myObject.teacher = teacher_id;

                u1 = "/time_table/set_arrangements/";
                u2 = u1.concat(school_id);
                url = u2.concat("/");
                $.post(url,
                    JSON.stringify(myObject),
                    function(data, status){

                });
            });

            // notify a teacher about arrangement
            $('.send_sms').click (function ()   {
                var recepient = 'single';
                var period = $('#main_table tr').eq(row_index + 1).find('td').eq(2).text();
                var the_class = $('#main_table tr').eq(row_index + 1).find('td').eq(3).text();
                var section = $('#main_table tr').eq(row_index + 1).find('td').eq(4).text();
                var teacher = $('#main_table tr').eq(row_index + 1).find('td').eq(5).text();

                if (teacher == 'Not Assigned')  {
                    alert ('No teacher has been assigned')
                    exit (0)
                }
                var myObject = new Object();
                myObject.recepient = recepient;
                myObject.period = period;
                myObject.the_class = the_class;
                myObject.section = section;
                u1 = "/time_table/notify_arrangements/";
                u2 = u1.concat(school_id);
                url = u2.concat("/");
                $.post(url,
                    JSON.stringify(myObject),
                    function(data, status){
                        if (status == 'success')    {
                            alert('Arrangement Notification sent to ' + teacher);
                        }
                });
            });

            // notify all teachers about their arrangements
            $('#communicate_all').click (function ()    {
                var recepient = 'all';
                var myObject = new Object();
                myObject.recepient = recepient;

                u1 = "/time_table/notify_arrangements/";
                u2 = u1.concat(school_id);
                url = u2.concat("/");
                $.post(url,
                    JSON.stringify(myObject),
                    function(data, status){
                        if (status == 'success')    {
                            alert('Arrangement Notification sent to all teachers');
                        }
                });
            });

            // download arrangements report
            $('#download_report').click (function ()    {
                url = "/time_table/download_arrangements/";

                var xhr = new XMLHttpRequest();
                xhr.open('GET', url, true);
                xhr.responseType = 'blob';

                xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
                xhr.onload = function(e) {
                    if (this.status == 200) {
                        var blob = new Blob([this.response], {type: 'application/vnd.ms-excel'});
                        var downloadUrl = URL.createObjectURL(blob);
                        var a = document.createElement("a");
                        a.href = downloadUrl;
                        var today = new Date();
                        var dd = today.getDate();
                        var mm = today.getMonth()+1; //January is 0!
                        var yyyy = today.getFullYear();

                        if(dd<10) {
                            dd = '0'+dd
                        }

                        if(mm<10) {
                            mm = '0'+mm
                        }

                        today = mm + '-' + dd + '-' + yyyy;
                        a.download = 'Arrangements_' + today + '.xlsx';
                        document.body.appendChild(a);
                        a.click();
                    } else {
                        alert('Unable to download excel.')
                    }
                };
                xhr.send();
            });
        });
    </script>

    <div class="table-responsive-xs" style="margin-left:160px">
        <h2>Arrangements</h2>
        <p>Please select sustitute teachers:
            <span style="display:inline-block; width: 350px;"></span>
            <button type="button" id="communicate_all" class="btn btn-primary  btn-sm">Communicate to all Teachers</button>
            <button type="button" id="download_report" class="btn btn-primary  btn-sm">Download Reports</button>
        </p>
        <table id="main_table" class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-sm-1">S No</th>
                    <th class="col-sm-1">Absent Teacher</th>
                    <th class="col-sm-1">Period</th>
                    <th class="col-sm-1">Class</th>
                    <th class="col-sm-1">Section</th>
                    <th class="col-sm-1">Substitute</th>
                    <th class="col-sm-1">Options</th>
                    <th class="col-sm-1">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for a in arrangements_required %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ a.teacher }}</td>
                    <td>{{ a.period }}</td>
                    <td>{{ a.the_class }}</td>
                    <td>{{ a.section }}</td>

                    {% if a.substitute_teacher == 'Not Assigned' %}
                        <td class="not_assigned">{{ a.substitute_teacher }}</td>
                    {% else %}
                        <td class="assigned">{{ a.substitute_teacher }}</td>
                    {% endif %}

                    <td><a class="teacher_options" the_class="{{ a.the_class }}" section="{{ a.section }}"
                            period="{{ a.period }}" style="cursor: pointer;">Show Options</a></td>
                    <td><a class="send_sms" style="cursor: pointer;">Communicate</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% for key, value in available_teachers.items %}
        <div class="modal fade" id="{{ key }}" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <p><h2 class="modal-title">Available Teachers</h2>
                        <h4>(for period # {{ key }})</h4><br/></p>
                        <h4 data-color="#888">Click on a Teacher's name to Select him/her for substitution</h4>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="big">
                            {% for v in value %}
                                <button type="button" teacherName="{{ v.name }}" teacherId="{{ v.login_id}}"
                                        class="btn btn-primary btn-round-sm btn-sm">{{ v.name }}
                                </button>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}