{% extends 'classup/base.html' %}

{% load staticfiles %}

{% block title %}
    Setup Module
{% endblock %}

{% block body_block %}


    <h1>{{ header }}</h1>

    {% if form.errors %}
        <div class="alert alert-danger">
            <p style="color: red;">
                Please correct the error{{ form.errors|pluralize }} below.
            </p>
        </div>
    {% endif %}

    <form action="" enctype="multipart/form-data"  method="get">

        {{ form.non_field_errors }}

        <table>
            {{ form.as_table }}
            <!--<div class='input-group date' id='date'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>-->

            <script>
                $(document).ready(function() {
                    $('.datepicker').datepicker();
                });
            </script>
            <!--<script type="text/javascript">
                $(function () {
                    $('#date').datetimepicker();
                });
        </script>-->
        </table>
        <p>
            <br/>
            <input class="btn-primary" type="submit" name="submit" value="Download Excel">
            <input class="btn-primary" type="submit" name="cancel" value="Done/Cancel">
        </p>
    </form>
{% endblock %}