{% extends 'classup/base.html' %}

{% load staticfiles %}

{% block title %}
    Setup Module
{% endblock %}

{% block body_block %}

                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>

    <script type="text/javascript">
            $(document).ready(function() {
            $('.datepicker').datetimepicker({
                minDate: -365 } );
            });
    </script>

    <h1>{{ header }}</h1>

    {% if form.errors %}
        <div class="alert alert-danger">
            <p style="color: red;">
                Please correct the error{{ form.errors|pluralize }} below.
            </p>
        </div>
    {% endif %}

    <form action="" enctype="multipart/form-data"  method="get">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <table>
            {{ form.as_table }}
        </table>
        <p>
            <br/>
            <input class="btn-primary" type="submit" name="submit" value="Download Excel">
            <input class="btn-primary" type="submit" name="cancel" value="Done/Cancel">
        </p>
    </form>
{% endblock %}