{% extends 'classup/base.html' %}

{% load staticfiles %}

{% block title %}
    Setup Module
{% endblock %}

{% block body_block %}
    <h1>{{ header }}</h1>


    {% if form.errors %}
        <div class="alert alert-danger">
            <p style="color: red;">
                Please correct the error{{ form.errors|pluralize }} below.
            </p>
        </div>
    {% endif %}


    <form action="" enctype="multipart/form-data"  method="post">
        {% csrf_token %}
        <!--<header>{{ header }}</header>-->

        {{ form.non_field_errors }}

        <table>
            {{ form.as_table }}
        </table>
        <p/>
        <br/>
        <input class="btn-primary" type="submit" value="Submit">
        <input class="btn-primary" type="submit" name="cancel" value="Cancel">
    </form>
{% endblock %}